* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.chatbot {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

iframe {
    border: 1px solid #ccc;
    font-size: 10px !important;
}